<log4net debug="false">
  <!--
  <appender name="RollingLogFileAppender"
            type="log4net.Appender.RollingFileAppender">
    <file value="log\log.txt" />
    <appendToFile value="false" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="50MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="DEBUG" />
      <levelMax value="FATAL" />
    </filter>
    <Threshold value="DEBUG" />
  </appender>
  <appender name="ConsoleAppender"
            type="log4net.Appender.ConsoleAppender">
    <target value="Console.Error" />
    <layout type="log4net.Layout.SimpleLayout" />
  </appender>
  -->
  <appender name="ColoredConsoleAppender"
            type="log4net.Appender.ColoredConsoleAppender">
    <layout type="log4net.Layout.SimpleLayout" />
    <mapping>
      <level value="ALL" />
      <foreColor value="White" />
    </mapping>
    <mapping>
      <level value="DEBUG" />
      <foreColor value="Blue" />
    </mapping>
    <mapping>
      <level value="INFO" />
      <foreColor value="White" />
    </mapping>
    <mapping>
      <level value="WARN" />
      <foreColor value="Yellow" />
    </mapping>
    <mapping>
      <level value="ERROR" />
      <foreColor value="Red" />
    </mapping>
    <mapping>
      <level value="FATAL" />
      <foreColor value="Red" />
    </mapping>
    <mapping>
      <level value="OFF" />
      <foreColor value="White" />
    </mapping>
  </appender>
  <root>
    <level value="DEBUG" />
    <appender-ref ref="ColoredConsoleAppender" />
  </root>
</log4net>